---
import { testimonials } from "@/config/landing";
import { Image } from "astro:assets";
import HeaderSection from "./header-section.astro";
import { Button } from "@/components/ui/button";
import { Icon } from "astro-icon/components";
---

<section>
  <div class="container flex max-w-7xl flex-col gap-10 py-32 sm:gap-y-16 items-center justify-center">
    <HeaderSection
      label="Our Team"
      title="What our clients are sharing."
      subtitle="The students behind the OpenSourceDUTH team."
    />

    <div class="flex flex-wrap gap-5 justify-center items-center">
      {
        testimonials.map((item) => (
          <div class="break-inside-avoid flex justify-center items-center">
            <div class="relative rounded-xl border bg-muted/25">
              <div class="flex flex-col px-4 py-5 sm:p-6">
                <div>
                  <div class="relative mb-4 flex items-center gap-3 justify-center">
                    <span class="relative inline-flex size-10 shrink-0 items-center justify-center rounded-full text-base">
                      <Image
                        width={100}
                        height={100}
                        class="size-full rounded-full border"
                        src={item.image || "/placeholder.svg"}
                        alt={item.name}
                      />
                    </span>
                    <div>
                      <p class="text-sm font-semibold text-foreground">
                        {item.name}
                      </p>
                      <p class="text-sm text-muted-foreground">{item.job}</p>
                    </div>
                  </div>
                  {/* If you want to show an icon, use Icon component and ensure the name is valid and the icon library is included in astro.config.mjs */}
                  {/* <Icon name="lucide:user" class="size-6 text-muted-foreground" /> */}
                </div>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>

